html
  head
    title Microservicio que suma

  body
    h1 Sumar
    p Ingrese un número en las 2 cajas de texto y obtendra el resultado de la suma

    form(action='.')
      div
        label(for='numero') Número1
        input(type='number' min='0' name='numero' id='numero' value=numero)
      div
      label(for='numero2') Número2
      input(type='number2' min='0' name='numero2' id='numero2' value=numero2)
      div
        input(type='submit' value='Sumar')
      div
        p #{nombre}
